<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookie.developdatabinding">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".A.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".A.TextViewActivity" />
        <activity android:name=".A.ImageViewActivity" />
        <activity android:name=".A.OnClickActivity" />
        <activity android:name=".A.HandlerClickActivity" />
        <activity android:name=".A.DelayActivity" />
        <activity android:name=".A.UserInfoActivity" />
        <activity android:name=".A.ObservableArrayMapActivity" />
        <activity android:name=".A.ObservableArrayListActivity" />
        <activity android:name=".A.RecyclerViewActivity" />
        <activity android:name=".B.GoodsActivity" />
        <activity android:name=".B.ObservableGoodsActivity" />
        <activity android:name=".B.CollectionActivity" />
        <activity android:name=".B.DuplexingActivity" />
        <activity android:name=".B.AfterTextChangedActivity" />
        <activity android:name=".B.LoadImageActivity" />
        <activity android:name=".B.ChangeTextActivity" />
        <activity android:name=".B.AllCollectionActivity"></activity>
    </application>

</manifest>